@import url(https://fonts.googleapis.com/css?family=Lato:300,900);




$backgroundBody: #ecf0f1;
$backgroundHeader: #2c3e50;
$primaryFont: 'Lato';

$titleColor: #e67e22;
$titleColorShadow: #D35400;
$titleFontSize:5em;
$titlePadding: ($titleFontSize / 2.5) 0;


$paragraphColor: #34495e;

* {
  box-sizing:border-box;
}

html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundBody;
  min-height:100%;
  margin:0;
  position:relative;
  font-family:$primaryFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background: $backgroundHeader;
  position:relative;
  padding:0 10%;
  overflow:hidden;

  h1 {
    text-transform: uppercase;
    font-size:$titleFontSize;
    padding: $titlePadding;
    color:$titleColor;
    text-align: center;
    text-shadow: 0px 2px 1px $titleColorShadow;

    span {
      display:inline-block;
    }
  }
}

.content {
  padding:2em 10% 80em 10%;
  p {
    color:$paragraphColor;
    font-size:2em;
    font-weight:300;
    text-align: center;
    margin:2em 0 0 0;
  }
  a {
    color:$titleColor;
    border-bottom:1px solid $titleColor;
    text-decoration: none;
    display:inline-block;
    position:relative;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;

    &:hover, &:focus {
      color:$titleColorShadow;
      border-bottom:1px solid $titleColorShadow;
    }
  }
}






ul.social {
  list-style-type: none;
  margin:0;
  padding:0;
  text-align:center;
  li {

    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size:1.5em;
    margin: 1em 0.5em;
    display:inline-block;
    position:relative;

    a {
      text-decoration:none;
      border:0;
      text-indent:9999px;
      overflow:hidden;
      position:relative;
      width:2em;
      height:2em;
      border-radius:50%;
      background:$titleColor;
      color:$backgroundBody;
      &:hover, &:focus {
        border:0;
        color:$backgroundBody;
        background:$titleColorShadow;
        top:2px;
      }
    }
  }
}


/* General Responsive */
@media all and (max-width: 40em) {
  body {
    font-size: 0.5em;
  }
}
@media all and (min-width: 40em) and (max-width: 60em) {
  body {
    font-size: 0.75em;
  }
}
@media all and (min-width: 60em) and (max-width: 80em) {
  body {
    font-size: 1em;
  }
}
@media all and (min-width: 80em) {
  body {
    font-size: 1.25em;
  }
}